html, body {
  font-family: 'Open Sans', sans-serif !important;
}

h2 {
  font-weight: 300;
  font-size: 54px;
  text-align: center;
  margin-block: 10px;
  color: #22A39F;
}

p.lead {
  text-align: center;
}

.container {
  max-width: 1280px;
  padding: 40px 180px;
}

.profile-1 {
  display: table
}

.about-me, .my-photo, .details {
  float: left;
  width: 33.33333%;
}

.my-photo {
  text-align: center;
}

img#hanif-photo {
  border-radius: 50%;
}

@media (min-width: 1200px) {}

@media (max-width: 767px) {
  .about-me, .my-photo, .details {
    float: none;
    width: auto;
    text-align: center;
  }
}
